name: CI/CD Pipeline - IRCTC Spring Boot

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u rohittsinghh --password-stdin

      - name: Build Docker Image
        run: docker build -t rohittsinghh/irctc-springboot:latest .

      - name: Push Docker Image
        run: docker push rohittsinghh/irctc-springboot:latest

      # Wait for Docker Hub to fully propagate the new image before telling Render to pull it
      - name: Wait for Docker Hub propagation
        run: sleep 10

      - name: Trigger Render Deploy
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"